{:kotoba.app/id "cloud.itonami.isic-5221", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifqlr2ndbefih2gt26c2irkjhnquw6zc3wo3zvuafz56i35xp77hu", :kotoba.app/embed-url "ipfs://bafkreifqlr2ndbefih2gt26c2irkjhnquw6zc3wo3zvuafz56i35xp77hu", :published {:archive "https://kotobase.net/ipfs/bafkreifqlr2ndbefih2gt26c2irkjhnquw6zc3wo3zvuafz56i35xp77hu", :size 73458, :put-status 201, :get-status 200, :at "2026-08-15T13:53:35.533Z"}}
